* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

/* GRID GENERAL*/

html {
    height: 100%;
}

body {
    font-size: 1.2em;
    min-height: 100%;
    padding: 2%;
    margin: 2%;
    background-image: url("/img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

header {
    grid-area: header;
}


section {
    grid-area: section;
}

footer {
    grid-area: footer;
    background-color: #274C77;
    color: #E7ECEF;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    padding: 2%;
    list-style: none;
}

.grid-container {
    padding: 10%;
    text-align: center;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header"
        "nav"
        "section"
        "footer";
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: .8em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: .8em;
}



/* HEADER */

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 0.25fr);
    justify-content: space-around;
    align-items: auto;
    align-content: space-around;
    padding: 20px;
    background-color: #6096BA;
}

.item-header1 {
    grid-column: 1/-1;
    text-align: center;
}

.item-header2 {
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center;
    color: #E7ECEF;
}





/* MENU */

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    max-height: 0px;
    overflow: hidden;
    transition: 1s all;
    text-align: center;
}

.mostrar {
    max-height: 500px;
    width: auto;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    display: block;
    width: auto;
    background-color: #274C77;
    color: white;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #E7ECEF;
    color: black;
}

.menu {
    padding: 10px;
    background-color: #274C77;
    color: #fff;
    width: 100%;
    cursor: pointer;
    text-align: center;
}







/* INDEX */

/* SLIDER PRICIPAL*/

@keyframes slide9 {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}


.wrapper1 {
	max-width: 3500px;
	margin: 0 ;
    display: flex;
    flex-direction: row;
    
}

.wrapper1 p{
    font-size: 15px;
}

.slider1 {
	position: relative;
}

.slides1 {
    align-items: center;
	position: relative;
	display: flex;
	overflow: hidden;
    list-style: none;
    
    
}

.slide1 {
	width: 100%;
	flex-shrink: 0;
	animation-name: slide9;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides1:hover .slide {
	animation-play-state: paused;
}

.slide1 img {
	width: 100%;
	vertical-align: top;
    height: auto;

}





/* BOXES CENTRALES*/

.principal{ /* BOX CONTENEDOR DE LOS 3 BOXES CENRALES*/
    max-width: 2000px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.item22 { /*QUIENES SOMOS*/
    position: relative;
    border: 1px solid #8B8C89;
    background-color: #A3CEF1;
    padding: 20px;
    max-width: 360px;
    min-width: auto;
    width: 100%;
    max-height: auto;
    min-height: 350px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    flex-basis: calc(33.33% - 20px); /* Ajusta el ancho según el número de elementos y los márgenes */
    justify-content: center;
    
}

.item22 p{
    font-size: 18px;
}
.item22 a {
    position: absolute; 
    bottom: 5px; 
    right: 10px; 
  
}

.item22 h3{
    font-size: 25px;
    text-align: center;
}

.item33 { /*SERVICIOS*/
  
    position: relative;
    border: 1px solid #8B8C89;
    background-color: #A3CEF1;
    padding: 20px;
    max-width: 360px;
    min-width: auto;
    width: 100%;
    max-height: auto;
    min-height: 350px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    flex-basis: calc(33.33% - 20px); /* Ajusta el ancho según el número de elementos y los márgenes */
    

}

.item33 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.item33 li {
    padding: 5px;

}

.item33 p{
    font-size: 20px;
}

.item33 a {
    position: absolute; 
    bottom: 5px; 
    right: 10px; 
 
}

.item33 h3{
    text-align: center;
    font-size: 25px;
}

.clientes {/*COMENTARIO CLIENTES*/
    max-width: 360px;
    min-width: auto;
    width: 100%;
    max-height: auto;
    min-height: 350px;
    height: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #A3CEF1;
    border: 1px solid #8B8C89;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    flex-basis: calc(33.33% - 20px); /* Ajusta el ancho según el número de elementos y los márgenes */
    
}

.clientes h3{
    font-size: 25px;
    text-align: center;
}


@keyframes slide4 { /*SLIDE COMENTARIO CLIENTES*/
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}


.wrapper {
	max-width: 1000px;
	margin: 0 auto;

    
}

.wrapper p{
    font-size: 15px;
}

.slider {
	position: relative;
}

.slides {
    align-items: center;
	position: relative;
	display: flex;
	overflow: hidden;
    list-style: none;


}

.slide {
	width: 100%;

	flex-shrink: 0;
	animation-name: slide4;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    background-color: #E7ECEF;
    height: 270px;
    border-radius: 15%;
    box-shadow: inset 2px 2px 2px 2px #999999;
    }

.slides:hover .slide {
	animation-play-state: paused;
}

.slide p{
    padding: 2px;
}

.slide img {
    width: 100px;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 50%;


}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}


.item55 {/*QUIENES NOS APOYAN*/
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
}
.item56 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 1em;
}


.item55 img {
    height: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item55 h3{
    font-size: 25px;
    text-align: center;
}

.lupa_index { /* BOTON LUPA*/
    width: 25px;
}







/*FOOTER*/
.foot {
    display: flex;
    flex-direction: column;
    align-items: auto;
    align-content: space-around;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;


}

.foot ul {
    margin-top: 5px;
    list-style: none;

}

.foot h3{
    font-size: 18px;
}

.foot p{
    font-size: 15px;
}

.datos{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .redes a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 70px; 
    margin-right: 10px; 
  }
  
  .icn_redes {
    width: 30px;
  }

  .mapa {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
  }
  .mapa iframe{
    max-width: 360px;
    min-width: auto;
    width: 100%;
  }

  footer a{
    text-decoration: none;
    color: white;
  }

.copy{
    text-align: center;
}



/* SERVICIOS */

.serv_header{
    background-color: white;
}

.serv_header h3 {
    text-align: center;
    font-size: 1.2em;
    padding-top: 0.75em;
}

.serv_header p {
    padding-bottom: 0.25em;
}

.item_right{
    display: flex;
    height: auto;
    align-items: center;
}


.titulo_s {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #A3CEF1;
}


.lupa1,
.lupa2,
.lupa3,
.lupa4,
.lupa5 {
    width: 25px;
    cursor: pointer;
    margin: 1%;
}

.servicios {
    background-color: #E7ECEF;
    padding: 1%;
    text-align: left;
    display: grid;
    gap: 20px;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
}

.img_s {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.texto_s1,
.texto_s2,
.texto_s3,
.texto_s4,
.texto_s5 {
    max-height: 0px;
    overflow: hidden;
    transition: 1s all;
}

.mostrar2 {
    max-height: 700px;
    width: auto;
}


/* QUIENES SOMOS */

.quienes {
    background: #E7ECEF;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
}

.quienes h2 {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.quienes h4{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #274C77;
}

.quienes p{
    padding: 10px;
}

.oficina img {
    padding-top: 2em;
    width: 100%;
}


.personal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #E7ECEF;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
}
.personal-item {
    margin: 20px;
    text-align: center;
}
.personal-item img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.personal-item h3 {
    margin: 10px 0;
    font-size: 1em;
}
.personal-item p {
    margin: 5px 0;
    font-size: 1em;
}


/* CONTACTO */

.error {
    margin: 2%;
}


.formulario {
    color: #274C77;
	text-shadow: 0px 0px 0px #8B8C89;
	width: 100%;
	height: 80%;
	text-align: center;
	align-content: center;
    padding-bottom: 40px;
	background: #e7ecef;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    -moz-box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
    box-shadow: 1px 2px 5px 0px rgba(139, 140, 137, 1);
}

.input-text {
	margin: 1%;
    margin-bottom: 0.5%;
	width: 85%;
	border-radius: 8px;
	height: 48px;
    font-size: large;
	color:#17171e;
	padding-left: 4%;
	padding-top: .25%;
	padding-right: 1%;
    border-color: #274c77;
    border-width: 1.5px;
}

.text {
    margin: 1%;
	width: 85%;
	border-radius: 8px;
	height: 192px;
    font-size: large;
	color:#17171e;
	padding-left: 4%;
	padding-top: 1%;
	padding-right: 1%;
    border-color: #274c77;
    border-width: 1.5px;
}

#boton-enviar {
    margin: 2%;
    color: #e7ecef;
    background-color: #274c77;
    font-size: 19px;
    border: 0px solid #a3cef1;
    border-radius: 10px;
    padding: 15px 50px;
    letter-spacing: 1px;
    cursor: pointer
}
#boton-enviar:hover {
    color: #274c77;
    background-color: #a3cef1;
}

.intro-formulario {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2.5%;
}

#gracias{
	display: none;
}

#ok {
	margin-top: 5%;
	width: 20%;
}










/* RESPONSIVE TABLET*/




@media (min-width: 600px) {
    .grid-container {
        grid-template:
            "header" 100px
            "nav" 50px
            "section" auto
            "footer" 200px;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1em;
    }


    /* MENU */
    .menu {
        display: none;
    }

    nav {
        grid-area: nav;
        width: 100%;
        background-color: #274C77;
        max-height: 100px;
    }

    nav a {
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        font-weight: bold;

    }

    nav li {
        display: inline-block;
        width: 20%;
        padding: 5px 10px;
        background-color: #274C77;
        text-align: center;
        color: #fff;
        vertical-align: middle;
    }


    nav li:hover {
        background-color: #A3CEF1;
        color: #000;
    }

    /* INDEX */

    .principal{ /* BOX CONTENEDOR DE LOS 3 BOXES CENRALES*/
        max-width: 2000px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .item22 {
        justify-content: center;
        max-width: 360px;
        min-width: 360px;
        width: 100%;
        max-height: 350px;
        min-height: 350px;
        height: 100%;
    
    }
    
    .item33 {
        max-width: 360px;
        min-width: 360px;
        width: 100%;
        max-height: 350px;
        min-height: 350px;
        justify-content: center;
        height: 100%;
    
    }
    
    .clientes{
        max-width: 360px;
        min-width: 360px;
        width: 100%;
        max-height: 350px;
        min-height: 350px;
        justify-content: center;
        height: 100%;
    }

    
    .item55 img {
        height: 100px;
    }






    /* SERVICIOS */

    .servicios {
        background-color: #E7ECEF;
        padding: 1%;
        text-align: left;
        font-size: 1em;
        display: grid;
        gap: 20px;
        grid-template-columns: 50px auto;
        grid-template-rows: auto auto;
    }

    .texto_s1,
    .texto_s2,
    .texto_s3,
    .texto_s4,
    .texto_s5 {
        max-height: 600px;
    }

    .lupa1,
    .lupa2,
    .lupa3,
    .lupa4,
    .lupa5 {
        visibility: hidden;
    }

    /* FOOTER */





/* CONTACTO */

.input-text {
    width: 60%;
}

.text {
    width: 60%;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;


}


.foot p{
    font-size: 16px;
}

.foot h3{
    font-size: 20px;
}

.icn_redes {
    width: 30px;
  }

}



/* RESPONSIVE PC CHICA*/



@media (min-width: 900px) {

    /* MENU */

    nav a {
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 0.8em;
        font-weight: bold;

    }

    /* CONTACTO */

.input-text {
    width: 50%;
}

.text {
    width: 50%;
}

/* INDEX */

 .principal{ /* BOX CONTENEDOR DE LOS 3 BOXES CENRALES*/
    max-width: 2000px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.item22 {
    justify-content: center;
    max-width: 360px;
    min-width: 360px;
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    height: 100%;

}

.item33 {
    max-width: 360px;
    min-width: 360px;
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    justify-content: center;
    height: 100%;

}

.clientes{
    max-width: 360px;
    min-width: 360px;
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    justify-content: center;
    height: 100%;
}


.item55 img {
    height: 100px;
}


}

/* RESPONSIVE PC GRANDE*/


@media (min-width: 1200px) {

    .principal{ /* BOX CONTENEDOR DE LOS 3 BOXES CENRALES*/
        max-width: 100%;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .item22 {
        justify-content: center;
        max-width: 360px;
        min-width: 360px;
        width: 100%;
        max-height: 350px;
        min-height: 350px;
        height: 100%;
    
    }
    
    .item33 {
        max-width: 360px;
        min-width: 360px;
        width: 100%;
        max-height: 350px;
        min-height: 350px;
        justify-content: center;
        height: 100%;
    
    }
    
    .clientes{
        max-width: 360px;
        min-width: 360px;
        width: 100%;
        max-height: 350px;
        min-height: 350px;
        justify-content: center;
        height: 100%;
    }
    
    
    .item55 img {
        height: 100px;
    }
   
    .foot p{
        font-size: 20px;
    }

    .foot h3{
        font-size: 25px;
    }

    .icn_redes {
        width: 40px;
      }
      
}
@media (max-width: 380px) {
    .wrapper1 {
        display: none;
    }
}